<!DOCTYPE html>
<html th:lang="#{principal.lang}"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
</head>
<body>

    <div layout:fragment="cabecera" class="container">
        <h1 th:text="#{security.createAdmin.encabezado}"></h1>
    </div>

    <div layout:fragment="contenido">
        <div class="container py-5">
            <form th:action="@{/registrarAdmin}" method="POST" th:object="${usuarioAdmin}">

                <div class="form-group input-group py-2 mb-2">
                    <label for="admin_email" class="control-label input-group-text" th:text="#{security.userAdmin.email}"></label>
                    <input id="admin_email" class="form-control" required autofocus="autofocus" type="text" th:field="*{email}">
                </div>

                <div class="form-group input-group py-2 mb-2">
                    <label for="admin_username" class="control-label input-group-text" th:text="#{security.userAdmin.username}"></label>
                    <input id="admin_username" class="form-control" required autofocus="autofocus" type="text" th:field="*{username}">
                </div>

                <div class="form-group input-group py-2 mb-2">
                    <label for="admin_password" class="control-label input-group-text" th:text="#{security.userAdmin.password}"></label>
                    <input id="admin_password" class="form-control" required autofocus="autofocus" type="password" th:field="*{password}">
                </div>

                <div class="form-group input-group py-2 mb-2" th:each="atributo, iterStat : *{atributos}">
                    <label th:for="${atributo.getNombre()}" class="control-label input-group-text" th:text="${atributo.getNombre()}"></label>
                    <input th:id="${atributo.getNombre()}" class="form-control" required autofocus="autofocus" type="text" th:field="*{valores}">
                </div>

                <div class="row mt-3">
                    <div class="col-11">
                        <button type="submit" class="btn btn-success" th:text="#{security.createAdmin.button}"></button>
                    </div>
                    <div class="col-1">
                        <a role="button" class="btn btn-danger" th:href="@{/SecurityProperties}" th:text="#{security.createAdmin.button.cancel}"></a>
                    </div>
                </div>


            </form>
        </div>
    </div>

</body>
</html>