<!DOCTYPE html>
<html th:lang="#{principal.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
</head>
<body>

    <div layout:fragment="header">
        <h1 th:text="#{principal.login}"></h1>
    </div>

    <div layout:fragment="content">

        <div class="py-4 container">
            <form th:action="@{/login}" method="post">

                <div th:if="${param.error}" class="alert alert-danger" th:text="'Fail'"></div>

                <div th:if="${param.logout}" class="alert alert-info" th:text="'Logout'"></div>

                <div class="form-group input-group">
                    <label class="control-label input-group-text" for="username" th:text="#{principal.username}"></label>
                    <input id="username" type="text" class="form-control" name="username" required autofocus="autofocus" th:placeholder="#{principal.username}">
                </div>
                <br>

                <div class="form-group input-group">
                    <label class="control-label input-group-text" for="password" th:text="#{principal.password}"></label>
                    <input id="password" type="password" class="form-control" name="password" required autofocus="autofocus" th:placeholder="#{principal.password}">
                </div>
                <br>

                <button type="submit" class="btn btn-primary form-control " th:text="#{principal.login}"></button>


            </form>
            <br>
            <div class="container">
                <a class="" th:href="@{/registro}"><span th:text="#{principal.registrarUsuario}"></span></a>
            </div>

        </div>

    </div>
</body>
</html>