<!DOCTYPE html>
<html th:lang="#{principal.lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
</head>
<body>

    <div class="container justify-content-center" layout:fragment="cabecera">
        <h1 th:text="'Notas'"></h1>
    </div>

    <div class="container" layout:fragment="contenido">

        <div th:if="${param.successPost}"><span class="alert alert-info" th:text="${'Operation succeded (Creation)'}"></span></div>
        <div th:if="${param.failPost}"><span class="alert alert-danger" th:text="${'Operation failed (Creation)'}"></span></div>
        <div th:if="${param.successPut}"><span class="alert alert-info" th:text="${'Operation succeded (Update)'}"></span></div>
        <div th:if="${param.failPut}"><span class="alert alert-danger" th:text="${'Operation failed (Update)'}"></span></div>
        <div th:if="${param.successDelete}"><span class="alert alert-info" th:text="${'Operation succeded (Delete)'}"></span></div>

        <div class="container mb-3">
            <a role="button" class="btn btn-success" th:href="@{/Notas/Post}" th:text="'Create Notas'"></a>
        </div>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <td><strong th:text="'Id'"></strong></td>
                    <td><strong th:text="'nombreAlumno'"></strong></td>
                    <td><strong th:text="'nota'"></strong></td>
                    <td><strong th:text="'Id_alumno'"></strong></td>
                    <td><strong th:text="'Id_revision'"></strong></td>
                    <td><strong th:text="'Id_profesor'"></strong></td>
                    <td><strong th:text="'Id_usuario'"></strong></td>
                    <td sec:authorize="hasRole('ADMIN')"></td><!-- Put -->
                    <td sec:authorize="hasRole('TEACHER')"></td><!-- Put -->
                    <td sec:authorize="hasRole('ADMIN')"></td><!-- Delete -->
                    <td sec:authorize="hasRole('TEACHER')"></td><!-- Delete -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="object : ${listAll}">
                    <td th:text="${object.id}"></td>
                    <td th:text="${object.nombreAlumno}"></td>
                    <td th:text="${object.nota}"></td>
                    <td th:if="${object.alumno.id}" th:text="${object.alumno.id}"></td>
                    <td th:if="${object.revision.id}" th:text="${object.revision.id}"></td>
                    <td th:if="${object.profesores}"><p th:each="suboject : ${object.profesores}" th:text="${suboject.toString()}"></p></td>
                    <td th:if="${object.usuario}" th:text="${object.usuario}"></td>
                    <td sec:authorize="hasRole('ADMIN')"><a role="button" class="btn btn-info" th:href="@{/Notas/Put/} + ${object.id}" th:text="'Edit'"></a></td>
                    <td sec:authorize="hasRole('TEACHER')"><a role="button" class="btn btn-info" th:href="@{/Notas/Put/} + ${object.id}" th:text="'Edit'"></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><form th:action="@{/Notas/Delete/} + ${object.id}" method="post"><button type="submit" class="btn btn-danger" th:text="'Delete'"></button></form></td>
                    <td sec:authorize="hasRole('TEACHER')"><form th:action="@{/Notas/Delete/} + ${object.id}" method="post"><button type="submit" class="btn btn-danger" th:text="'Delete'"></button></form></td>
                </tr>
            </tbody>
        </table>

        <div class="row mt-4">
            <div class="col-10"></div>
            <div class="col-2"><a role="button" class="btn btn-warning" th:href="@{/index}" th:text="'principal.back'"></a></div>
        </div>
    </div>

</body>
</html>