<!DOCTYPE html>
<html th:lang="#{principal.lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
</head>
<body>

	<div class="container justify-content-center" layout:fragment="header">
		<h1 th:text="'Reparacion'"></h1>
	</div>

	<div class="container" layout:fragment="content">

		<div class="container">
			<form th:action="@{/Reparacion/Put/} + ${object.id_reparacion}" method="POST" th:object="${object}">

				<div class="input-group mt-5">
					<label for="id_reparacion" class="control-label input-group-text" th:text="'id_reparacion'"></label>
					<input id="id_reparacion" class="form-control" required th:field="*{id_reparacion}" disabled th:value="*{id_reparacion}">
				</div>

				<div class="form-floating mt-5">
					<select id="mecanico" class="form-select" required th:field="*{mecanicoDto.id_mecanico}">
						<option th:each="object1 : ${listMecanico}" th:text="${object1}" th:value="${object1.id_mecanico}"></option>
					</select>
					<label for="mecanico" th:text="'mecanico'"></label>
				</div>

				<div class="form-floating mt-5">
					<select id="cliente" class="form-select" required th:field="*{clienteDto.id_cliente}">
						<option th:each="object2 : ${listCliente}" th:text="${object2}" th:value="${object2.id_cliente}"></option>
					</select>
					<label for="cliente" th:text="'cliente'"></label>
				</div>

				<div class="form-floating mt-5">
					<select id="tipo_servicio" class="form-select" multiple required th:field="*{tipo_servicioDto}">
						<option th:each="object3 : ${listTipo_servicio}" th:text="${object3}" th:value="${object3.id_tipo_servicio}"></option>
					</select>
					<label for="tipo_servicio" th:text="'tipo_servicio'"></label>
				</div>

				<button type="submit" class="btn btn-success mt-5" th:text="#{principal.save}"></button>
			</form>
		</div>

		<div class="row mt-4">
			<div class="col-10"></div>
			<div class="col-2"><a role="button" class="btn btn-danger" th:href="@{/Reparacion}" th:text="#{principal.back}"></a></div>
		</div>
	</div>

</body>
</html>