<!DOCTYPE html>
<html th:lang="#{principal.lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
</head>
<body>

	<div class="container justify-content-center" layout:fragment="header">
		<h1 th:text="'Mecanico'"></h1>
	</div>

	<div class="container" layout:fragment="content">
		<table class="table table-responsive">
			<thead>
				<tr>
					<td><strong th:text="'id_mecanico'"></strong></td>
					<td><strong th:text="'nombre'"></strong></td>
					<td><strong th:text="'User_id'"></strong></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="object : ${listAll}">
					<td th:text="${object.id_mecanico}"></td>
					<td th:text="${object.nombre}"></td>
					<td th:if="${object.user}" th:text="${object.user}"></td>
					<td><form th:action="@{/Mecanico/Delete/} + ${object.id_mecanico}" method="post"><button type="submit" class="btn btn-danger" th:text="'Delete'"></button></form></td>
				</tr>
			</tbody>
		</table>

		<div class="row mt-4">
			<div class="col-10"></div>
			<div class="col-2"><a role="button" class="btn btn-danger" th:href="@{/Mecanico}" th:text="#{principal.back}"></a></div>
		</div>
	</div>

</body>
</html>