<!doctype html>
<html th:lang="#{principal.lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"> </title>
</head>


<body>

    <div layout:fragment="header" class="container-fluid">
        <div class="p-sm-5 mb-4 rounded text-body-emphasis text-center shadow" style="background-color: #edf0eb;">
            <h1 class="display-1" th:text="#{principal.title}"></h1>
        </div>
    </div>

    <div layout:fragment="content">
        <div class="row">
            <!-- class Mecanico - Role ADMIN -->
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('ADMIN')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Mecanico</h3>
                <a th:href="@{/Mecanico}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>

            <!-- class Mecanico - Role USER -->
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('USER')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Mecanico</h3>
                <a th:href="@{/Mecanico}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>

            <!-- class Cliente - Role ADMIN -->
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('ADMIN')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Cliente</h3>
                <a th:href="@{/Cliente}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>

            <!-- class Tipo_servicio - Role ADMIN -->
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('ADMIN')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Tipo_servicio</h3>
                <a th:href="@{/Tipo_servicio}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>

            <!-- class Tipo_servicio - Role USER -->
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('USER')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Tipo_servicio</h3>
                <a th:href="@{/Tipo_servicio}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>

            <!-- class Reparacion - Role ADMIN -->
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('ADMIN')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Reparacion</h3>
                <a th:href="@{/Reparacion}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="col-1 mt-5"></div>

            <!-- class Reparacion - Role USER -->
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>
            <div sec:authorize="hasRole('USER')" class="col-4 p-4 mt-5 border rounded text-center card" style="background-color: #edf0eb;">
                <h3 class="display-4">Reparacion</h3>
                <a th:href="@{/Reparacion}" class="stretched-link"></a>
            </div>
            <div sec:authorize="hasRole('USER')" class="col-1 mt-5"></div>

        </div>
    </div>



</body>
</html>